.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.content{

    margin-top: 60px;
    width: 650px;
    background-color: #f0f0f0;
    border-radius: 10px;
    transform: translate(62%);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    transition: 0.7s ease;
  
}

h1{ 
    
    width: 100%;
    color: rgb(57, 151, 57);  
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    border: 0;
    display:block;
    width: 96%;               
    background-color:black;
    height: 1px;
    opacity: 0.4;
}

.bouton{
   width: 100%; 
   display: flex;
   align-items: center;
   justify-content: center;
}

button{
    width: 100%;
    width: 200px;
    height: 50px;
    background-color: rgb(163, 44, 44);
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.7s ease;
    margin-top: 38px;
    
}

button:hover{
    transform: scale(1.1);
  
}

form{
    padding-left: 30px;
}

.question{
  transform: translate(0,11px);    
  font-weight: 600;
}



.rating i {

    font-size: 0.85em;
    color: grey;
}

.resultatFinal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score{
    font-size: 1.5em;
    font-weight: 600;
    color: blueviolet;
}